:root {
  --main-text-color: rgb(0, 0, 0);
  --main-bg: rgb(255, 255, 255);
  --header-bg: rgb(255, 255, 255);

  --logo-name-color: rgb(0, 61, 72);
  --logo-name-s-color: rgb(247, 116, 98);
  --logo-caption-color: rgb(146, 146, 146);

  --navigation-color: rgb(120, 120, 120);
  --navigation-color_h: rgb(109, 197, 221);
  --navigation-item-before: rgb(231, 231, 231);
  --nav-menu-btn-checked-color: rgb(124, 42, 36);
  --nav-menu-bg: rgba(0, 0, 0, 0.8);
  --nav-menu-link-color: rgb(255, 255, 255);

  --banner-bg: rgb(240, 240, 240);
  --banner-headline-c: rgb(0, 61, 72);
  --banner-slogan-c: rgb(139, 139, 139);
  --banner-button-bg: rgb(247, 116, 98);
  --banner-button-bg_h: rgb(182, 58, 41);
  --banner-button-color: rgb(255, 255, 255);

  --common-info-bg: rgb(109, 197, 221);

  --notice-icon-bg: rgb(255, 255, 255);

  --specialist-headline-color: rgb(0, 61, 72);
  --article-text-color: rgb(140, 145, 147);

  --all-content-bg: rgb(109, 197, 221);
  --content-block-headline-color: rgb(255, 255, 255);
  --content-point-color: rgb(255, 255, 255);

  --notice-content-color: rgb(255, 255, 255);
  --more-notice-info-color_h: rgb(120, 69, 202);

  --events-and-reviews-bg: rgb(255, 255, 255);
  --events-and-reviews-headline-color: rgb(0, 61, 72);
  --events-slogan-color: rgb(109, 197, 221);
  --event-data-bg:  rgb(109, 197, 221);
  --event-data-color: rgb(255, 255, 255);
  --event-content-headline-color:  rgb(0, 61, 72);
  --comments-count-color: rgb(247, 116, 98);
  --comments-count-color_h: rgb(155, 66, 54);
  --event-description-color: rgb(120, 120, 120);

  --comment-bg:rgb(236, 236, 236);
  --comment-description-color: rgb(140, 145, 147);
  --comment-icon-bg: rgb(255, 255, 255);

  --footer-bg: rgb(109, 197, 221);
  --footer-underline-bg: rgb(159, 217, 233);
  --footer-color: rgb(255, 255, 255);
  --social-icon_h: rgb(221, 221, 221);

  --slogan-bg: rgb(247, 116, 98);
  --slogan-color: rgb(255, 255, 255);

  --panel-switcher-color: rgb(120, 120, 120);
  --panel-switcher-color_h: rgb(73, 73, 73);
  --panel-switcher-checked-color: rgb(247, 116, 98);
  --panel-switcher-checked-bg: rgb(0, 61, 72);
  --info-panel-bg: rgb(0, 61, 72);
  --info-panel-color: rgb(255, 255, 255);
  --info-panel-headline-color: rgb(109, 197, 221);
  --panel-option-color: rgb(120, 120, 120);
  --panel-option-icon: rgb(247, 116, 98);
}